
{% extends "layout.html" %}
{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">

  <h1>welcome to cadash v-{{version}}</h1>
  <p>all things capture agent
  </p>
</div><!-- /.jumbotron -->

<div class="body-content">
  <div class="row">
    <div class="col-lg-4">
      <h2>redunlive</h2>
      <p>toggle between primary and backup live streams</p>
      <p><a class="btn btn-default" href="{{ url_for('redunlive.home') }}">redunlive</a></p>
    </div>
    <div class="col-lg-4">
      <h2>ca status</h2>
      <p>capture agents status and configs</p>
      <p><a class="btn btn-default" href="{{ url_for('castatus.home') }}">ca status</a></p>
    </div>
  </div><!-- /.row -->
</div>
{% endblock %}

