{% extends "layout.html" %}

{% block content %}
<div class="body-content">
    <div class="row">
      <h1>inventory v-{{ version }}</h1>
      </p>
    </div>
    <div class="row">
        <ul class="nav nav-tabs">
            <li class="active">
            <a href="#">
                capture agent
            <span class="sr-only">(current)</span></a></li>
            <li><a href="{{ url_for('inventory.vendor_list') }}">
                vendor</a></li>
            <li><a href="{{ url_for('inventory.location_list') }}">
                location</a></li>
            <li><a href="{{ url_for('inventory.cluster_list') }}">
                mh cluster</a></li>
        </ul>
    </div>

    {% block ca_content %}{% endblock %}

</div>
{% endblock %}

