{% extends "inventory/cluster.html" %}

{% block cluster_content %}
    <div class="row">
        <ul class="nav nav-tabs">
            <li class="active">
            <a href="#">
                list
            <span class="sr-only">(current)</span></a></li>
            <li><a href="{{ url_for('inventory.cluster_create') }}">
                create</a></li>
        </ul>
    </div>

    <div class="row">
    <div class="table-responsive">
    <table class="table table-hover table-striped">
        <thead>
        <tr>
            <th>&nbsp;</th>
            <th>name</th>
            <th>admin host</th>
            <th>environment</th>
        <tr>
        </thead>
        <tbody>
        {% for r in record_list %}
        <tr>
            <td>
                <a class="icon" title="edit record"
                    href="{{ url_for('inventory.cluster_edit', r_id=r.id) }}">
                    <span class="fa fa-pencil glyphicon glyphicon-pencil"></span>
                </a>
            </td>

            <td>{{ r.name }}</td>
            <td>{{ r.admin_host }}</td>
            <td>{{ r.env }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    </div>
{% endblock %}
