{% extends "inventory/role.html" %}

{% block role_content %}
    <div class="row">
        <ul class="nav nav-tabs">
            <li><a href="{{ url_for('inventory.role_list') }}">
                list</a>
            </li>
            <li><a href="{{ url_for('inventory.role_create') }}">
                create</a>
            </li>
            <li class="active"><a href="#">
                 edit
            <span class="sr-only">(current)</span></a></li>
        </ul>
    </div>

    <div class="row">
        <h3>{{ dce_ca.ca.name }} | {{ dce_ca.location.name }} | {{ dce_ca.role_name }} |
            {{ dce_ca.cluster.name }}
        </h3>

        {% block dce_ca_content %}{% endblock %}

    </div>
{% endblock %}

